<h1>Mengedit Informasi Berita Terkini</h1>

<%= render 'form', informasi_berita_terkini: @informasi_berita_terkini %>

<%= link_to 'Tampilkan', @informasi_berita_terkini %> |
<%= link_to 'Batal', informasi_berita_terkini_index_path %>
