<h1>Editing Laporan Penyuluh Agama Katolik</h1>

<%= render 'form', laporan_penyuluh_agama_katolik: @laporan_penyuluh_agama_katolik %>

<div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
	<%= link_to 'Tampilkan', @laporan_penyuluh_agama_katolik, :class => "btn btn-success" %>
	<%= link_to 'Batal', laporan_penyuluh_agama_katolik_index_path, :class => "btn btn-secondary" %>
</div>