<p>
  <strong>Judul:</strong>
  <%= @laporan_penyuluh_agama_katolik.judul %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_penyuluh_agama_katolik.tautan %>
</p>

<% if pengguna_signed_in? %>
	<% if @pengguna.guru_pendakat? || @pengguna.administrator? %>
<%= link_to 'Edit', edit_laporan_penyuluh_agama_katolik_path(@laporan_penyuluh_agama_katolik) %> |
	<% end %>
<% end %>
<%= link_to 'Batal', laporan_penyuluh_agama_katolik_index_path %>
