<h1>Edit Laporan Pegawai Bimkat Sumteng</h1>

<%= render 'form', laporan_pegawai_bimkat_sumteng: @laporan_pegawai_bimkat_sumteng %>

<div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
	<%= link_to 'Tampilkan', @laporan_pegawai_bimkat_sumteng, :class => "btn btn-success" %>
	<%= link_to 'Batal', laporan_pegawai_bimkat_sumteng_index_path, :class => "btn btn-secondary" %>
</div>