<h1>Membuat Laporan Pegawai Bimkat Sumteng</h1>

<%= render 'form', laporan_pegawai_bimkat_sumteng: @laporan_pegawai_bimkat_sumteng %>

<%= link_to 'Batal', laporan_pegawai_bimkat_sumteng_index_path, :class => "btn btn-primary" %>
