<p>
  <strong>Judul:</strong>
  <%= @laporan_pegawai_bimkat_sumteng.judul %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_pegawai_bimkat_sumteng.tautan %>
</p>

<% if current_pengguna %>
	<% if current_pengguna.pegawai_pendakat? || current_pengguna.penyelenggara_pendakat? || current_pengguna.pegawai_urakat? || current_pengguna.kasie_urakat? %>
<%= link_to 'Edit', edit_laporan_pegawai_bimkat_sumteng_path(@laporan_pegawai_bimkat_sumteng) %>
	<% end %>
<% end %>
<%= link_to 'Batal', laporan_pegawai_bimkat_sumteng_index_path %>
