<p>
  <strong>Judul:</strong>
  <%= @laporan_pegawai_bimkat_sumteng.judul %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_pegawai_bimkat_sumteng.tautan %>
</p>

<%= link_to 'Edit', edit_laporan_pegawai_bimkat_sumteng_path(@laporan_pegawai_bimkat_sumteng) %> |
<%= link_to 'Batal', laporan_pegawai_bimkat_sumteng_index_path %>
