<div class="row">
  <div class="col-12 col-md-12">
    <div class="card border-danger">
      <iframe class="card-img-top" src="https://drive.google.com/file/d/<%= @laporan_pegawai_bimkat_sumteng.tautan %>/preview" style="height:23rem;" frameborder="0"></iframe>
      <div class="card-body">
        <div class="row">
          <div class="col-md-10">
            <h2 class="card-title"><%= @laporan_pegawai_bimkat_sumteng.judul %></h2>
          </div>
          <div class="col-md-2">
            <div class="btn-group btn-group-lg float-right" role="group" aria-label="tampilkan-kembali">
            <%= link_to edit_laporan_pegawai_bimkat_sumteng_path(@laporan_pegawai_bimkat_sumteng), :class => "btn btn-warning" do %>
              <i class="fa fa-pencil"></i>
                Edit
              <% end %>
            <%= link_to laporan_pegawai_bimkat_sumteng_index_path, :class => "btn btn-secondary"  do %>
              <i class="fa fa-arrow-left"></i>
                Batal
              <% end %>
            </div>
          </div>
        </div> 
      </div>  
    </div>
  </div>
</div>