<!-- Footer -->
<footer class="page-footer bg-dark text-white">
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Dibangun menggunakan <a href="https://rubyonrails.org">Ruby on Rails</a> dan <a href="https://getbootstrap.com">Bootstrap</a> oleh <a href="https://facebook.com/fransiskusyosef/">Y.B. Widyokarsono, S.Kom</a>
  </div>
</footer>
<!-- Footer -->