<!-- Footer -->
<footer class="bg-dark text-white">
  <!-- Footer Links -->
  <!-- Copyright -->
  <p></p>
  <p class="margin-bottom">
  	Dibangun dengan <i class="fa fa-heart fa-beat heart"></i> oleh <%= link_to "Y.B. Widyokarsono, S.Kom", "https://facebook.com/fransiskusyosef/", :target => "_blank" %> menggunakan <%= link_to "Ruby on Rails", "https://rubyonrails.org", :target => "_blank" %> dan <%= link_to "Bootstrap", "https://getbootstrap.com", :target => "_blank" %> untuk <a href="/">Bimas Katolik Kantor Kementerian Agama Kabupaten Sumba Tengah</a>
  </p>
  </div>
</footer>
<!-- Footer -->