<h1>Editing Informasi Pengumuman</h1>

<%= render 'form', informasi_pengumuman: @informasi_pengumuman %>

<%= link_to 'Show', @informasi_pengumuman %> |
<%= link_to 'Back', informasi_pengumuman_index_path %>
