<h1>Mengedit Data Pendidikan Agama Katolik</h1>

<%= render 'form', data_pendidikan_agama_katolik: @data_pendidikan_agama_katolik %>

<%= link_to 'Tampilkan', @data_pendidikan_agama_katolik %> |
<%= link_to 'Batal', data_pendidikan_agama_katolik_index_path %>
