// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "font-awesome";

.navbar {
	background-color: rgb(2, 38, 1);
}

.container-fluid {
	background-color: rgb(243, 255, 142);
}

.card-header {
	background-color: rgb(2, 89, 15);
}