<h1>Membuat Laporan Guru Agama Katolik</h1>

<%= render 'form', laporan_guru_agama_katolik: @laporan_guru_agama_katolik %>

<%= link_to 'Batal', laporan_guru_agama_katolik_index_path, :class => "btn btn-primary" %>
