<p>
  <strong>Judul:</strong>
  <%= @laporan_guru_agama_katolik.judul %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_guru_agama_katolik.tautan %>
</p>
<% if pengguna_aktif?(@laporan_guru_agama_katolik.pengguna) %>
<%= link_to 'Edit', edit_laporan_guru_agama_katolik_path(@laporan_guru_agama_katolik) %>
<% end %>
<%= link_to 'Batal', laporan_guru_agama_katolik_index_path %>
