<p>
  <strong>Judul:</strong>
  <%= @laporan_guru_agama_katolik.judul %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_guru_agama_katolik.tautan %>
</p>
<% if current_pengguna %>
	<% if current_pengguna.current_pengguna.guru_pendakat? %>
<%= link_to 'Edit', edit_laporan_guru_agama_katolik_path(@laporan_guru_agama_katolik) %>
	<% end %>
<% end %>
<%= link_to 'Batal', laporan_guru_agama_katolik_index_path %>
