<p>
  <strong>Judul:</strong>
  <%= @laporan_guru_agama_katolik.judul %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_guru_agama_katolik.tautan %>
</p>

<%= link_to 'Edit', edit_laporan_guru_agama_katolik_path(@laporan_guru_agama_katolik) %> |
<%= link_to 'Batal', laporan_guru_agama_katolik_index_path %>
