<h1>Mengedit Galeri Foto</h1>

<%= render 'form', galeri_foto: @galeri_foto %>

<div class="btn-group btn-group-lg float-right" role="group" aria-label="Basic example">
	<%= link_to 'Tampilkan', @galeri_foto, :class => "btn btn-success" %>
	<%= link_to 'Batal', galeri_foto_index_path, :class => "btn btn-secondary" %>
</div>